@use "../../scss/variable";
.container{
  overflow:auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variable.$theme-red;
  .login-container{
    display: flex;
    height: 500px;
    background-color: variable.$theme-light;
    box-shadow: 0 2px 50px -1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    .login-display{
      border-radius: 8px 0 0 8px;
      width: 600px;
      background-size: cover;
      background-image: url(../../../public/logo.png);
    }
    .login-form{
      min-width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 30px;
      > img{
        width: 260px;
        padding-bottom: 50px;
      }
      .iconfont{
        font-size: 20px;
        color: #d8d8d8;
        line-height: 56px;
        margin-right: 5px;
      }
      > div{
        > button{
          min-width: 100%;
          border-radius: 24px;
          padding: 10px 40px;
          margin-top: 30px;
          border: none;
          background-color: variable.$theme-red;
          color: variable.$theme-light;
        }
        .user,
        .password{
          display: flex;
          line-height: 56px;
          margin-left: 5px;
          margin-bottom: 10px;
          > input{
            width: 200px;
            font-size: 16px;
            border: none;
            outline: none;
            border-bottom: #aba0e6 1px dotted;
          }
        }
      }
    }
  }
}