// break point
// for phone and other mobile device
$screen-sm-min: 600px;
// for pad
$screen-md-min: 900px;
// for pc
$screen-lg-min: 1200px;
// for large monitor
$screen-xl-min: 1920px;

// theme color and font
$theme-primary: #1664ff;
$theme-text: #121212;
$theme-subtext: #808080;
$theme-light: #FFFFFF;
$theme-surface: #FFFFFF;
$theme-hover: #F3F3F3;
$theme-border: #EBEBEB;
$theme-placeholder: #BDC3C9;
$theme-shadow: rgba(0, 0, 0, 0.2);

//
$theme-red: #77090d